@keyframes neon {
    from {
        filter: drop-shadow(0 0 0 #00ffff)
    }
    to{
        filter: drop-shadow(0 0 30px #00ffff);
    }
}

.navbar_container{
    background-color: #494047cc;
    box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.096);
}

.navbar{
    display: flex;
    flex-direction: row;
}
.navbar .logo {
    text-decoration: none;
    font-family: "Melting"; 
    font-size: 3rem; 
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    animation: neon 3s alternate infinite ease-in-out;
    flex-grow: 1;
}

.navbar .logo:hover{
    text-shadow: 0 0 5px #00ffff, 
    0 0 25px #00ffff, 0 0 50px #00ffff,
    0 0 100px #00ffff, 0 0 200px #00ffff;

}

.navbar .logo h1 {
    padding: 15px; 
    color: #2f9331;
    margin: 30px 30px 0 30px;
}

.form{
    justify-content: end;
    width: 300px;
    margin: 45px auto;
}

.form input{
    padding: 10px;
    border: 2px solid #fff;
    
}

.form .input_text{
    border-radius: 5px 0 0 5px;
}

.form .input_text:focus{
    outline: 0;

}

.form .btn{
    border-radius: 0 5px 5px 0;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
    background-color: #fff;
    border: none;
    height: 38.5px;
    width: 30px;
    font-size: .8rem;
}


.form .btn:hover{
    background-color: rgb(206, 197, 197);
}

.navbar_links{
   text-align: right;
   padding: 15px;
   
}
.navbar_links a{
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 15px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 15px;
   
}

.navbar_links a:hover{ 
    color: black;
}
